<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá <%= nomeUsuario %> </h1>
    <form action="/confirmarcontato" method="GET">
        <label for="email">Insira seu nome: </label>
        <input type="text" name="nome" placeholder="Insira seu nome" id="">
        <br>
        <label for="email">Insira seu email: </label>
        <input type="email" name="email" placeholder="Insira seu email" id="">
        <br>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>