<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>

    <main>
        <h1>Entrar na sua conta</h1>
        <form action="/login/logado" method="POST">
        <label for="username">Insira seu username: </label>
        <input required type="text" name="userName" placeholder="Insira seu nome" id="">
        <br>
        <label for="senhaUsuario">Insira sua senha: </label>
        <input required type="password" name="senhaUser" placeholder="Insira sua senha!" id="">
        <br>
        <button type="submit">Enviar</button>  
        </form>
    </main>
</body>
</html>