<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <h1>Cadastro de Produtos</h1>
      <form action="/produto/criar" method="POST">
            <label for="nomeProduto">Digite o nome do produto: </label>
            <input required type="text" placeholder="Digite o nome do produto..." name="nomeProduto" id="">
            <br>
            <label for="precoProduto">Digite o preço do produto: </label>
            <input required type="number" placeholder="Digite o preço do produto..." name="precoProduto" id="">
            <br>
            <button type="submit">Enviar</button>
      </form>
</body>
</html>